#content {
  background-color: #0d1945;
}

.after-fas {
  padding-left: 4px;
}

#accordionSidebar {
  background-color: #212121;
}

#page-top #accordionSidebar h1, p {
  color: #e1e1e1;
}

#white-title {
  color: #FBFBFB;
}

footer {
  background-color: #000;
}

.heading-row {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px;
}

#send-fund {
  align-content: end;
}