@import 'base/variables';

.login-icon {
  width: 32px;
  height: 32px;
  padding-top: 8px;
  padding-right: 8px
}

.margin-side-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.margin-side-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.margin-side-128 {
  margin-left: 128px;
  margin-right: 128px;
}

.margin-side-192 {
  margin-left: 192px;
  margin-right: 192px;
}

.margin-side-256 {
  margin-left: 256px;
  margin-right: 256px;
}

.align-right {
  float: right;
}

.italic {
  font-style: italic;
}

.size-8 {
  width: 8px;
  height: 8px;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-24{
  width: 24px;
  height: 24px;
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-64 {
  width: 64px;
  height: 64px;
}
