doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/sass/style.css')
    link(rel='stylesheet', href='/sass/login.css')
    script(src="/javascripts/vendor/jquery.min.js")
    script(src="/javascripts/vendor/bootstrap.min.js")
    script(src="/javascripts/vendor/jquery/jquery.min.js")
    script(src="/javascripts/vendor/bootstrap/js/bootstrap.bundle.min.js")
  body
    block content
      p asd

