extends layout

block header-content
  link(rel='stylesheet', href='/stylesheets/login.min.css')

block content
  #login-card.card
      #login-left
        .card-media
          a(href="#youwish")
            img(src="/assets/android-icon.png" alt="android")
          a(href="#youwish")
            img(src="/assets/apple-icon.png" alt="apple")
        .card-connection-buttons
          button.card-login-button login
          br
          br
          button.card-register-button register
        .card-title
          h5 ILeakable National Bank
      #login-right
        #loginForm
          br
          br
          .card-body.row
            img.logo(src="/assets/I.PNG")
            h5.logo-text Leakable
          .moto
            h5.italic We protect your investment from any kind of leak.
          br
          br
          form.margin-side-128(action='/login/submit-login', method='post')
            .input-group.form-group
              img.login-icon(src='/assets/mail-icon.png')
              input.form-control(type='text', placeholder='Mail address', name='mail')
            .input-group.form-group
              img.login-icon(src='/assets/password-icon.png')
              input.form-control(type='password', placeholder='Password', name='password')
            br
            .form-group
              button.align-right.connection-buttons Linking in
        #registerForm
          .card-body.row
            img.logo(src="/assets/I.PNG")
            h5.logo-text Leakable
          br
          form.margin-side-128(action='/login/submit-register', method='post').login-card-form
            .input-group.form-group
              img.login-icon(src='/assets/mail-icon.png')
              input.form-control(type='text', placeholder='Mail address', name='mail')
            .input-group.form-group
              img.login-icon(src='/assets/username-icon.png')
              input.form-control(type='text', placeholder='First name', name='firstName')
            .input-group.form-group
              img.login-icon(src='/assets/username-icon.png')
              input.form-control(type='text', placeholder='Last name', name='lastName')
            .input-group.form-group
              img.login-icon(src='/assets/password-icon.png')
              input.form-control(type='password', placeholder='Password', name='password')
            .input-group.form-group
              img.login-icon(src='/assets/password-icon.png')
              input.form-control(type='password', placeholder='Password confirmation', name='passwordConfirm')
            br
            .form-group
              button.connection-buttons Get Started



