extends layout

block content
  #login-card.card
      #login-left
        .card-media
          img(src="/assets/android-icon.jpg" alt="android")
          img(src="/assets/apple-icon.jpg" alt="apple")
      #login-right
        .card-body
          h5.card-title Card title
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text
            small.text-muted Last updated 3 mins ago


